.shop-name{
    display: grid;
    background-color: thistle;
}


body>{
    display: grid;
    grid-template-rows: 
    "order1"
    "order2"
    "order3";
    padding: 32px;
    grid-template: auto;
    background-color: skyblue;
    grid-area: order1;

}
